.favorites__button {
  position: relative;
  height: 45px;
  width: 115px;
  font-size: 16px;
  background-color: #2a2a2a;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.favorites__button:hover {
  background-color: #3b3b3b;
}

.favorites__button span {
  position: absolute;
  right: -0.8rem;
  top: -0.8rem;
  font-size: 28px;
  color: #ef473a;
}
