.main {
  min-height: 100%;
  margin-top: 1rem;
}

.main__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main__title h2 {
  font-size: 26px;
  font-weight: 300;
  color: #3b3b3b;
}

.main__body {
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow: auto;
}

.movie__card--test {
  padding-left: 0.5rem;
}

.main__illustration {
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main__illustration img {
  height: auto;
  max-width: 100%;
  opacity: 50%;
}
