footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  margin-top: 1rem;
  border-top: 1px solid #3b3b3b;
}

footer p {
  font-size: 14px;
  font-weight: 300;
  color: #4d4d4d;
}
