footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #1e1e1e;
  margin-top: 1rem;
}

.container {
  width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;
}

.container p {
  border-top: 1px solid #3b3b3b;
  padding-top: 1rem;
  font-size: 14px;
  font-weight: 300;
  color: #4d4d4d;
  text-align: center;
}
